.header_toolbar{
    display: flex !important;
    justify-content: space-between !important;
}
.header_href{
    color: white;
    text-decoration: none;
}
.header_loginButton{
    text-decoration: none !important;
}